*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.myhome{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.title{
    text-align: center;
    letter-spacing: .1em;
    padding: .2em;
    color: purple;
    text-transform: capitalize;
}
