*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.myNav{
    padding-left: 10%;
    padding-right: 70%;
    height: 100%;
    
}
.items{
    background-color: seagreen;
    color:cornflowerblue;



}