*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.myNav{
    padding-left: 10%;
    padding-right: 70%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 100%;
    position: fixed;
    
}
.items{
    background-color: seagreen;
    height: 90%;
    padding: 2em;
    justify-content: space-evenly;



}